In [1]:
#Importing Very Basic Imports
import numpy as np 
import pandas as pd 

from sklearn.preprocessing import LabelEncoder
from sklearn import linear_model
from sklearn.model_selection import cross_val_score
from sklearn import preprocessing
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor

In [2]:
# Expolore the dataset
df = pd.read_csv('diamonds.csv')
df = df.drop('Unnamed: 0', axis=1)

In [3]:
df.head(5)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
carat      53940 non-null float64
cut        53940 non-null object
color      53940 non-null object
clarity    53940 non-null object
depth      53940 non-null float64
table      53940 non-null float64
price      53940 non-null int64
x          53940 non-null float64
y          53940 non-null float64
z          53940 non-null float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [5]:
df.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [6]:
df.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [7]:
df["cut"].unique()

array(['Ideal', 'Premium', 'Good', 'Very Good', 'Fair'], dtype=object)

In [8]:
df["clarity"].unique()

array(['SI2', 'SI1', 'VS1', 'VS2', 'VVS2', 'VVS1', 'I1', 'IF'], dtype=object)

In [9]:
df["color"].unique()

array(['E', 'I', 'J', 'H', 'F', 'G', 'D'], dtype=object)

In [10]:
le=LabelEncoder()


# >>> encoded.transform(['France'])

In [11]:
enc = le.fit(df["cut"])
encoded = enc.transform(df["cut"])
df["cut"] = encoded
print(encoded)

[2 3 1 ..., 4 3 2]

In [12]:
enc_clarity = le.fit(df["clarity"])
encoded_clarity = enc_clarity.transform(df["clarity"])
df["clarity"] = encoded_clarity
print(encoded_clarity)

[3 2 4 ..., 2 3 3]

In [13]:
enc_color = le.fit(df["color"])
encoded_color = enc_color.transform(df["color"])
df["color"] = encoded_color
print(encoded_color)

[1 1 1 ..., 0 4 0]

In [14]:
#Seperating Feature and output level
X = df.drop(["price"], axis=1)
y = df['price']

In [15]:
df.head(5)

   carat  cut  color  clarity  depth  table  price     x     y     z
0   0.23    2      1        3   61.5   55.0    326  3.95  3.98  2.43
1   0.21    3      1        2   59.8   61.0    326  3.89  3.84  2.31
2   0.23    1      1        4   56.9   65.0    327  4.05  4.07  2.31
3   0.29    3      5        5   62.4   58.0    334  4.20  4.23  2.63
4   0.31    1      6        3   63.3   58.0    335  4.34  4.35  2.75

In [16]:
df["clarity"].unique()

array([3, 2, 4, 5, 7, 6, 0, 1])

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [18]:
# Data is Ready to be cooked with ML Algos


# Linear regression model
reg = linear_model.LinearRegression()
kf = KFold(n_splits = 5, shuffle=True, random_state = 42)
cv_results = cross_val_score(reg, X_train, y_train, cv=kf)
print(cv_results.mean())
reg.fit(X_train, y_train)
y_pred = reg.predict(X_test)
linreg_score = reg.score(X_test, y_test)
print(linreg_score)

0.881082672553
0.886364164884

In [ ]:
# GradientBoosting model
gb = GradientBoostingRegressor(n_estimators=300, verbose = True, random_state = 241)
gb.fit(X_train, y_train)
# y_pred = gb.predict(X_test)
print(gb.score(X_test, y_test))

      Iter       Train Loss   Remaining Time
         1    13362909.4931            2.59m
         2    11183960.6368            1.34m
         3     9420094.8504           55.76s
         4     7963899.4140           43.36s
         5     6767397.5209           35.71s
         6     5783454.3955           30.64s
         7     4986783.1919           27.08s
         8     4339266.6957           24.41s
         9     3791351.4986           22.27s
        10     3335429.8090           20.57s
        20     1421130.4598           12.92s
        30      997775.4643           10.05s
        40      798441.6612            8.55s
        50      662367.7204            7.63s
        60      580827.0696            6.96s
        70      525919.0446            6.39s
        80      483666.5732            5.95s
        90      455058.9586            5.63s
       100      432766.7662            5.32s
       200      337816.1861            2.38s
       300      302435.6750            0.00s
0.978103348765

In [ ]:
# Random foreset Regressor

from sklearn.ensemble import RandomForestRegressor

regr_RandomForest = RandomForestRegressor(max_depth=2, random_state=0, n_estimators=100)
regr_RandomForest.fit(X_train, y_train)
# y_pred_RandomForest = regr_RandomForest.predict(X_test)
RandomForest_score = regr_RandomForest.score(X_test, y_test)
print(RandomForest_score)

0.832239109527

In [ ]:
# # Logistic Regression

# from sklearn.linear_model import LogisticRegression

# reg_logistic = LogisticRegression(random_state=0, solver='lbfgs', multi_class='multinomial').fit(X_train, y_train)
# # y_pred_logistic = reg_logistic.predict(X_test)
# Logistic_score = reg_logistic.score(X_test, y_test)
# print(Logistic_score)